[
    {elogin, [
        {authorized_ips, [{127, 0, 0, 1}, any]},
        {keyfile, "priv/elogin.key.pem"},
        {certfile, "priv/elogin.cert.pem"},
        {require_auth, false},
        {auth_domain, "localhost"},
        {elli_conf, [
            {callback, elogin_router},
            {port, 5000},
            %ssl,
            {keyfile, "priv/elogin.key.pem"},
            {certfile, "priv/elogin.cert.pem"}]}
    ]}
].
